/* global */

body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: aquamarine;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: rgb(0, 255, 26);
  margin: 20px;
}

p {
  font-size: 1rem;
  color: aquamarine;
  margin: 10px;
}

/* Style the grid container */

.grid-container {
  display: grid;
  grid-template-columns: 50px 200px 200px 200px 50px;
  grid-template-rows: 200px 200px 100px 100px 500px;
  grid-gap: 0px;
  row-gap: 10px;
  column-gap: 0px;
  max-width: 1025;
  margin: 0px;
  padding-bottom: 50px;
  background-color: rgb(32, 32, 32);
  justify-content: center;
  align-items: center;
}

/* Style the grid items */
/* header title */
.grid-item1 {
  grid-column: 1 / span 5;
  grid-row: 1;
  padding: 20px;
  text-align: center;
}

section #img-container .grid-item2 {
  /* This element will be a grid item, but also a flex container */
  grid-row: 2;
  grid-column: 1 / span 5;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  object-fit: contain;
  margin-top: 80px;
}

.grid-item2 img {
  width: 200px;
  max-height: 300px;
  margin: 10px;
  border: 2px solid transparent;
  background-color: white;
}

/*-- add hover states so the user can tell what 
behavior is expected of them--*/
.grid-item2 img:hover {
  border: 5px solid rosybrown;
  cursor: pointer;
}

/* once voting ends */
.grid-item2.no-voting img:hover {
  border: 5px solid transparent;
  cursor: none;
}


/* results button */
.grid-item3 {
  display: grid;
  grid-row: 4;
  grid-column: 3;
}

.grid-item3 #show-results-btn {
  width: 200px;
  height: 100px;
  color: white;
  background-color: rgb(2, 157, 17);
  border-radius: 10px;
  border: 4px double #cccccc;
  font-size: 1.5rem;
  font-weight: 500;
}

/* canvas results graph */
.grid-item4 {
  display: grid;
  grid-row: 5;
  grid-column: 1 / span 5;
  margin-bottom: 20px;
  color: white;
}